<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-pdfcreate" version="0.0.1">
    <name>PDFCreatePlugin</name>

    <description>An Android Cordova plugin that allows users to manipulate pdf files.</description>
    <license>MIT</license>

    <keywords>cordova,android, PDF, editor</keywords>
    <repo>https://github.com/Plueschkiddo/PDFCreatePlugin.git</repo>
    <issue>https://github.com/Plueschkiddo/PDFCreatePlugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/pdfcreateplugin.js" name="PDFCreatePlugin">
        <clobbers target="window.plugins.PDFCreatePlugin" />
    </js-module>
	
    <platform name="android">
		<lib-file src="src/android/fontbox-2.0.14.jar"/>
		<lib-file src="src/android/pdfbox-2.0.14.jar"/>
		<lib-file src="src/android/pdfbox-tools-2.0.14.jar"/>
		<lib-file src="src/android/preflight-2.0.14.jar"/>
		<lib-file src="src/android/xmpbox-2.0.14.jar"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PDFCreate">
                <param name="android-package" value="com.plueschkiddo.cordova.plugin.PDFCreate"/>
            </feature>
        </config-file>

        <source-file src="src/android/PDFCreate.java" target-dir="src/com/plueschkiddo/cordova/plugin" />
		<asset src="src/android/resources/VorlageGELOS.pdf" target="VorlageGELOS.pdf"/>
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </platform>
</plugin>